.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  justify-content: center;
  background: cornsilk;

}
.input-text{
   padding: 10px;
   margin: 10px;
   font-size: 10px;
}

.btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn{
  background: darkblue;
  color: white;
  padding: 10px;
}
.error{
  color:red;
}
